<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." ng-model="query">
          <span class="input-group-btn">
            <div class="input-group-btn">
        </div>
        </div>
            <select  ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
        </select>       
          
      </div>

      <div class="col-md-8">
      <!--Body content-->
        <table class="phones table table-bordered table-hover table-responsive">
          <thead>
                <tr>
                  <th>Image</th>
                  <th>Cellphone Name</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody ng-repeat="phone in phones | filter:query | orderBy:orderProp">
                <td><a href="#/phones/{{phone.id}}" class="thumb"><img class="img-circle" ng-src="{{phone.imageUrl}}" style="width: 70px"></a></td>
                <td><a href="#/phones/{{phone.id}}">{{phone.name}}</a></td> 
                <td>{{phone.snippet}}</td>         
        </table>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function () { 
      $('.dropdown-toggle').dropdown();
    });
  </script>